<h1 class="cover-heading">{{vm.room.name}}</h1>
<div calss="clearfix toolbox">
  <Button ng-click="vm.leave()" ng-if="!vm.isOwnerOfRoom()" class="btn btn-primary pull-right">
    <i class="glyphicon glyphicon-remove"></i>
    Leave
  </Button>
  <Button ng-click="vm.leave()" ng-if="vm.isOwnerOfRoom()" class="btn btn-danger pull-right">
    <i class="glyphicon glyphicon-trash"></i>
    Delete room
  </Button>
  <Button ng-click="vm.start()" ng-if="vm.isOwnerOfRoom() && !vm.room.started" class="btn btn-primary pull-right">
    <i class="glyphicon glyphicon-check"></i>
    Start Game
  </Button>
  <Button ng-click="vm.showTable()" ng-if="vm.room.started" class="btn btn-primary pull-right">
    <i class="glyphicon glyphicon-check"></i>
    Show Table
  </Button>
</div>
<h3>Players</h3>
<ul>
  <li ng-repeat="player in vm.room.players">
    <span style="width: 5em; height: 5em; padding-left: 2em; background-color: #{{vm.RoomService.getColorForPlayer($index).toString(16)}}"></span>
    {{player.name}}
  </li>
</ul>
