<div class="modal-header">
  <h3 class="modal-title">Sell a property</h3>
</div>
<div class="modal-body">
  <p ng-repeat="property in vm.getMyProperties()">
    <input type="radio" name="property" ng-value="property" ng-model="vm.selectedProperty"/>
    Position: {{property.pos}}, {{property.houses}} houses.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="vm.selectedProperty == null">OK</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
